# Editor configuration, see http://editorconfig.org

root = true

# 所有文件
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# 仅 md 文件适用
[*.md]
max_line_length = off
trim_trailing_whitespace = false
